.room-box {
    width: 600px;
    height: 300px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: scroll;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.room-log {
  margin-top: 8px;
}

.container {
   height: 400px;
    width: 400px;
    border-style: dotted;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}