{% extends 'base.html' %}

{% block content %}
        <section class="room-box">
                <section class="room-log"></section>
        </section>
        <input id="room-message-input" type="text"><br>
        <input id="room-message-submit" type="button" value="Send">

        {{ room_name|json_script:"room-name" }}
        {{ user.username|json_script:"username" }}

        <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const roomLog = document.querySelector('.room-log');
        const roomMessageInput = document.getElementById('room-message-input');
        const roomMessageSubmit = document.getElementById('room-message-submit');
        const username = JSON.parse(document.getElementById('username').textContent);
        const roomWebSocket = new WebSocket('ws://'+ window.location.host + '/ws/' + roomName + '/');

        roomWebSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            const messageDate = new Date(data.messageDate);
            const messageBody = data.messageBody;
            const messageUser = data.messageUser;

            roomLog.innerHTML += (messageDate.toLocaleTimeString() + ' ' +  messageUser
            + ': ' + messageBody + '<br/>');
        };

        roomWebSocket.onclose = function(event) {
            console.error('Chat socket closed unexpectedly');
        };

        roomWebSocket.onopen = function(event) {
            if(roomLog.innerHTML === '') {
                roomLog.innerHTML += ('Welcome to the chat room, ' + username + '<br/> <br/>');
            }
        };

        roomMessageInput.focus();

        roomMessageInput.onkeydown = function(event) {
             if(event.keyCode === 13) {
                roomMessageSubmit.click();
             }
        };

        roomMessageSubmit.onclick = function(event) {
            const messageBody = roomMessageInput.value;

            roomWebSocket.send(JSON.stringify({
                'messageBody': messageBody,
            }));

            roomMessageInput.value = '';
        };
    </script>
{% endblock content %}