{% extends 'base.html' %}

{% block content %}
        <p>Welcome {{user.username}}. Create a chat room by entering a name.</p>

        <input id="chatroom-name-input" type="text" size="150"><br>
        <input id="chatroom-name-submit" type="button" value="Enter">

        <script>
            document.getElementById('chatroom-name-submit').onclick = function(event){
                const chatRoomName = document.getElementById('chatroom-name-input').value;
                window.location.pathname = '/' + chatRoomName + '/';
            };
        </script>
{% endblock content %}

